In [4]:
class kepler:
  def __init__(self,testcase):
    """
    Takes testcase as parameter that gest passed to next function to run multiple times
    retuns:None
    """
    self.testcase = testcase


  def law(self):
    """
    Takes input of t1,r1,t2,r2
    returns:yes or No
    """
    for i in range(0,self.testcase):
      t1,t2,r1,r2 = map(int,input().split(" "))
      p1_t = (t1**2)
      p1_r = (r1**3)
      p2_t = (t2**2)
      p2_r = (r2**3)
      if (p1_t / p1_r) == (p2_t/p2_r):
       
              print("Yes")
      else:
        print("No")
    return None

if __name__ == "__main__":
  kep = kepler(int(input("Testcases")))
  kep.law()

Testcases3
1 1 1 1
yes
1 2 3 4
No
1 8 2 8
yes

testcases
3
1 1 1 1
1 2 3 4
1 8 2 8

sol:
Yes
No
Yes